<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="/src/alta-usuario/alta-usuario.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">


<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
       <h2 class="col-md-12">Login Usario</h2>
   </div>
   <input type="text" placeholder="DNI" value="{{dni::input}}">
   <input type="password" placeholder="Password" value="{{password::input}}">
   <button class="btn btn-success" on-click="login">Login</button>
   <button class="btn btn-link">
     <a href="/user">Dar de alta usuario</a> </button>
   <!--span hidden$="{{!isLogged}}">Si esto sale nos podemo ir</span-->

   <iron-ajax
        id="doLogin"
        url="http://localhost:3000/apitechu/v2/login"
        content-type="application/json"
        method="POST"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError"
      >
  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          dni: {
            type: String
          }, password: {
            type: String
          }, isLogged: {
            type: Boolean,
            value: false
          }
        };
      }

    login() {
      console.log("El usuario ha pulsado el botón");

      var loginData = {
        "dni" : this.dni,
        "password" : this.password
      };

      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
    }

    manageAJAXResponse(data) {
      console.log("Recibida respuesta del servidor");
      console.log(data.detail.response);
      console.log(data.detail.response.dni);
      //window.location = "/user/" + {{dni}};
      window.location = "/user/" + data.detail.response.dni;
    }

    showError(error){
      console.log("Hubo un error");
      console.log(error);
    }
  }


    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
