<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Sus cuentas</h1>
    <table>
      <thead>
        <th>IBAN</th><th>saldo</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{accounts}}">
          <tr>
             <td>{{item.iban}}</td>
             <td>{{item.balance}}</td>
             <!--td><a href="javascript:alert('Voy a ver los movimientos');">ver movimientos</a></td-->
         </tr>
         </template>
     </tbody>
   </table>

    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
       <h1 class="col-md-12">Visor Cuentas</h1>
       <h2 class="col-md-8">IBAN: {{iban}}</h2>
       <h2 class="col-md-4">BALANCE: {{balance}}</h2>
    </div-->
    <!--button class="btn btn-success">Login</button>-->
    <!--button class="btn btn-warning">Logout</button>-->
    <!--input type="text" value="{{first_name::input}}"/>-->
    <!--input type="range" min="18" value={{age::input}} max="70"/>-->

    <iron-ajax
        auto=""
        id="getAccounts"
        url="http://localhost:3000/apitechu/v2/users/{{dni}}/accounts"
        handle-as="json"
        on-response="showData">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          dni: {
            type: String
          }, iban: {
            type: String
          }, balance: {
            type: Number
          }, accounts: {
            type: Array
          }
        };
      }

      showData(data){
        console.log(data.detail.response);
        this.accounts = data.detail.response;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
