<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="/src/login-usuario/login-usuario.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
       <h1 class="col-md-12">Visor Usuario</h1>
       <h2 class="col-md-5">Soy {{name}} {{lastname}}</h2>
       <h2 class="col-md-5">y mi email es {{email}}</h2>
       <button class="btn btn-link">
         <a href="/user/{{dni}}/accounts">Ver mis cuentas</a>
      </button>
    </div>
    <!--button class="btn btn-success">Login</button>-->
    <!--button class="btn btn-warning">Logout</button>-->
    <!--input type="text" value="{{first_name::input}}"/>-->
    <!--input type="range" min="18" value={{age::input}} max="70"/>-->

    <iron-ajax
        auto=""
        id="getUser"
        url="http://localhost:3000/apitechu/v2/users/{{dni}}"
        handle-as="json"
        on-response="showData">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          name: {
            type: String
          }, lastname: {
            type: String
          }, dni: {
            type: String
          }, email: {
            type: String
          }
        };
      }

      showData(data){
        console.log("Recibidos  datos del usuario");
        console.log(data.detail.response[0].dni);
        console.log(data.detail.response[0].name);
        console.log(data.detail.response[0].lastname);
        console.log(data.detail.response[0].email);

        this.dni = data.detail.response[0].dni;
        this.name = data.detail.response[0].name;
        this.lastname = data.detail.response[0].lastname;
        this.email = data.detail.response[0].email;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
